
header {
    height: 40px;
    line-height: 40px;
}
.type a {
    margin-left: 8px;
}
.hotline{
    color: #29b078;
}
.link{
    display: none;
}
.link span:first-child{
    border-right: 1px solid #29b078;
    padding-right: 10px;
}
.link a{
    color: black;
    padding-left: 10px;
}
@media screen and (max-width: 1200px){
    .link{
        display: inline-block;
        width: 100%;
        text-align: right;
    }
    .hotline{
        display: none;
    }
    .type{
        display: none;
    }
}
.mynavbar {
    background:  #29b078;
    line-height: 80px;
}
.topimg {
    width: 80px;
}
.one a{
    display: inline-block;
    height: 80px;
    width: 60px;
    text-decoration: none;
    color: white;
    text-align: center;
}
.one a:hover {
    border-bottom: 2px solid white;
}
.nav-pills{
    display: none;
}
@media screen and (max-width: 1200px) {
    .nav-pills {
        display: inline-block;
        float: right;
    }
    .one {
        display: none;
    }

    .topimg{
        padding-top: 15px;
        padding-left: 15px;
    }
    .dropdown-toggle{
        background: #29b078!important;
        /*text-align: right!important;*/
    }
    .dropdown-menu{
        min-width: 0;
        background: #29b078;
    }
}
.picture img {
    width: 100%;
}
.page {
    margin: 30px auto;
}

.page span {
    color: #72c49e;
}
@media screen and (max-width: 1200px){
    .page {
       padding-left: 5px;
    }
}
.left {
    outline: 1px solid lightgrey;
    box-shadow: 1px 1px 1px lightgrey;
    text-align: center;
    padding: 0;
    width: 23%;

}

.left ul {
    /*padding: 0;*/
    padding-left: 15px;
    list-style-type: none;
    margin-bottom: 40px;

}
.company {
    margin-top: 20px;
    border-bottom: 1px solid lightgrey;
    padding: 20px 0px;
}

.left li {
    margin-top: 25px;

}
.left a {
    color: #29b078;
    text-decoration: none;
    background: url("../img/redcircle.png") no-repeat left center;
    padding-left: 12px;
}
.left a:hover {
    background: url("../img/redcircle1.png") no-repeat left center;
    color: red;
}
.right{
    outline: 1px solid lightgrey;
    box-shadow: 1px 1px 1px lightgrey;
    float: right;
    padding: 0;
}
.content{
    text-indent: 2rem;
    color: #a0a0a0;
    padding: 20px 30px;
}
.firstparagraph{
    margin: 40px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}
.tudou {
    float: left;
    width:150px;
}
@media screen and (max-width: 1200px) {
    .left{
        width: 80%;
        float: none;
        margin: 0 auto;
    }
    .right{
        width: 80%;
        float: none;
        margin: 0 auto;
    }

}

.footer {
    margin-top: 60px;
    width: 100%;
    background: #26a26f;
}

.footer a {
    color: white;
}

.footer p {
    color: white;
    margin-top: 20px;
}

.mine {
    padding-top: 30px;
}

.last {
    padding-left: 180px;
}

.last img {
    width: 80px;
}
@media screen and (max-width: 1200px){
    .last{
        padding-left: 15px;
    }
}
.tf {
    margin-top: 10px;
    border-top: 1px solid #32c086;
    text-align: center;
    color: white;
}