/*body{*/
    /*font-size: 62.5%;*/
/*}*/
.content{
    width: 100%;
}
.content1{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content1 span:first-child{
    color: #42b683;
}
.content1 img{
    width: 20px;
}
.content1 a{
    text-align: center;
    padding-left: 10px;
}
header{
    background: #29b078;
    text-align: right;
}
.header1{
    width: 1200px;
    margin: 0 auto;
    color:white;
}
header span{
    display: inline-block;
    height: 40px;
    width: 30px;
    line-height: 40px;
    text-align:center;
    font-size: 1.5rem;
    margin-left: 25px;
}
header span:hover{
    border-bottom: 1px solid white;
}

.one1{
    margin-top: 60px;
}
.c1{
    text-align: center;
}
.bold{
    font-weight: bold;
    font-size: 2rem;
}

.c2{
    text-align: left;
    color:lightgrey;
    font-size: 1.4rem;
}
.bold1{
    color:lightgrey;
    font-size: 1.4rem;
}
.c3{
    border-left: 1px dashed lightgrey;
    padding-top: 20px;
}
.a1{
    display: block;
    width:  60px;
    margin: 0px auto 10px auto;
    height: 60px;
}
.a2{
    display: block;
    width:  60px;
    margin: 0px auto 10px auto;
    height: 60px;
}
.a3{
    display: block;
    width:  60px;
    margin: 0px auto 10px auto;
    height: 60px;
}
.a5{
    background: url("../img/iu.png") no-repeat 1px center;
    background-size: 10px;
    padding-left: 15px;
}
.d1{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    /*background: #5fc0cd;*/
    box-shadow: 1px 1px 1px lightgrey;
    position: absolute;
    top: -5px;
    left: 10px;
}
.one2{
    margin-top: 40px;
    color: lightgrey;
}
.d1 p{
    text-align: center;
    color: #29b078;
}
.d2{
    padding-left: 40px;
    padding-right: 20px;
    background: url("../img/dd.png") no-repeat right center;
    background-size: 25px;
}
.d3{
    padding-left: 40px;
    padding-right: 25px;
}
.b1{
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
    color: black;
}
.e1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid lightgrey;
    border-radius: 6px;
    box-shadow: 1px 1px lightgrey;
    height: 300px;
}
.e1 img{
    width: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.e2{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    color: lightgrey;
}
.e3{
    padding-top: 10px;
    padding-bottom: 15px;
}
.m2{
    font-weight: bold;
}
.row1{
    padding-top: 20px;
}
.student{
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}
.round{
    width: 50%;
    margin: 0 50%;
}
.round1{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #69d1e9;
}
.round2{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #f0f0f0;
}
.partner1{
    text-align: center;
    padding-top: 20px;
}
.logo{
    display: flex;
    padding:0;
    justify-content: space-between;
}
.logo1:hover{
    box-shadow:1px 1px 1px 1px lightgrey;
}
.logo1 {
    display: inline-block;
    /*width: 18%;*/
    /*text-align: center;*/
}
.friend{
    text-align: center;
    padding:0 20px;

}
.link{
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    color: lightgrey;
}
.link a{
    color: lightgrey;
}
.link li:hover{
    border-bottom: 1px solid #29b078;
}
footer{
    margin: 0 auto;
    padding-top: 20px;
    background: #29b078;
    border-bottom: 2px solid #32c086;
    padding-bottom: 10px;
}
.picture{
    width: 84px;

}
.me{
    display: inline-block;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}
.type{
    padding-left: 120px;
}
.footer1 a:hover{
    text-decoration: none;
    border-bottom: 1px solid white;
    color: white;
}
footer p{
    color: white;
}
.second{
    margin-top: 40px;
}
.tfoot{
    text-align: center;
    background:#29b078;
    color: white;
}
