
body {
    font-size: 62.5%;
}
header{
    width: 100%;
    height: 80px;
    background-color:#5fc0cd;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 10;
}
header button{
    width: 25%;
    height: 40px;
    border-radius: 13px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    margin-top: 30px;
}
.owner{
    color: white;
    background-color: #55a8b3;
}
.nurse{
    background-color: white;
    color: #5fc0cd;
    margin-left: -10px;
}
header img{
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 25px;
    height: 25px;
}
.nav{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 80px;
    border-bottom: 1px solid lightgrey;
    font-size: 1.3rem;
}
.nav>li{
    width: 33%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dropdown-toggle{
    color: #999999;
    height:100%;
    padding-right:0!important;
    padding-left: 0!important;
}
.dropdown-menu{
    width: 100%;
    min-width: 0!important;
}
.firstli{
    border-right: 1px solid lightgrey;
}
.secondli{
    border-right: 1px solid lightgrey;
}

.caret{
    float: right;
    margin-top: 8px;
    margin-right: 5px;
}
.section li{
    list-style-type: none;
    font-size: 1.4rem;
    /*height: 20px;*/
}
.section ul{
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}
.date{
    color: #999999;
    background:url("../img/icon-4.jpg") no-repeat left center;
    background-size: 20px 15px;
    padding-left: 30px;
    margin-top: 5px;
}
.cite{
    color: #999999;
    background: url("../img/icon-8.jpg") no-repeat left center;
    padding-left:30px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.deadline{
    padding-left: 10px;
}
.vage{
    background: url("../img/icon-3.jpg") no-repeat 80px center;
    background-size: 15px 18px;
    float: right;
    color: red;
    padding-right: 45px;
}
footer{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background-color: #f8fafb;
}
.base{
    width: 53%;
    margin: 0 auto;
    text-align: center;
}
.page{
    width: 25px;
    height: 25px;
}
.pen {
    width: 50px;
    height: 50px;
}
.mine{
    width: 25px;
    height: 25px;
}
.left{
    float: left;
}
.right{
    float: right;
}