/*body{*/
    /*margin: 0;*/
/*}*/
header{
    height: 40px;
    line-height: 40px;
}
.hotline{
    color: #79c7a3;
}
.type a{
    margin-left: 10px;
}

.bgd{
    background: #79c7a3;
    line-height: 80px;
}
.logo img{
    width: 80px;
}
.four span{
    color: white;
    margin-left: 10px;
    padding-bottom: 30px;
}
.four span:hover {
    border-bottom: 2px solid white;
}


.job{
    margin: 40px auto;
    padding: 0;
   border-bottom: 1px solid lightgrey;
}
.job span{
    color: #a7d7c0;
}
.job1{
    margin-bottom: 20px;
    padding: 0;
    border-bottom: 1px solid lightgrey;
}
.job1 li{
    display: inline-block;
    padding-left: 10px;
}

.job1 ul{
    padding: 0;
}

.job1 span{
    color: lightgrey;
}
.job1 a{
    text-decoration: none;
    color: black;
}
.job1 a:hover{
    color: #29b078 ;
}
.direction{
    margin: 30px auto;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}
.top{
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
    padding: 10px auto ;
}
.top img{
    width: 100px;
    height: 100px;
    margin-top: 15px;
}
.hard{
    border-collapse: collapse;
}
.hard, td, th{
    border: 1px solid lightgrey;
}
.hare,td{
    height: 30px;
}
.td1{
    text-align: left;
    padding-left: 10px;
}
.td2{
    text-align: center;
}
.detial{
    color: #dadada;
    padding-right: 20px;
}
.detial1{
    color: red;
}
.detial2{
    padding-left: 30px;
    padding-right: 60px;
}


.end{
    margin-top: 30px;
}
.special{
    position: relative;
}
.transform p{
    text-align: center;
    padding: 20px 20px;
}
.transform {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;

    transition:width 2s, height 2s;
    -moz-transition:width 2s, height 2s, -moz-transform 2s; /* Firefox 4 */
    -webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
    -o-transition:width 2s, height 2s, -o-transform 2s; /* Opera */
}
.transform:hover{
    transform:rotate(360deg);
    -moz-transform:rotate(360deg); /* Firefox 4 */
    -webkit-transform:rotate(360deg); /* Safari and Chrome */
    -o-transform:rotate(360deg); /* Opera */
}
.footer{
    width: 100%;
    background:#42b683;
    margin-top: 60px;
}
.footer p{
    color: white;
}
.footer a{
    color: white;
    margin-right: 10px;
}
.footer img{
    width: 80px;
}
.one{
    margin: 20px auto;
}
.change{
    padding-bottom: 25px;
}
.tfoot{
    color: white;
    text-align: center;
    border-top: 2px solid #32c086;;
}