/*html{*/
/*overflow-x: hidden;*/
/*}*/
.header {
    width: 1200px;
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
}

.hotline {
    color: #29b078;
    font-size: 14px;
}

.icons a {
    margin-left: 8px;
}

.phone {
    display: none;
}

@media screen and (max-width: 1200px) {
    .header {
        width: 100%;
    }

    .phone {
        display: block;

    }

    .hotline {
        display: none;
    }

    .icons {
        display: none;
    }

    .phone {
        width: 100%;
        text-align: right;
        padding-right: 20px;
    }
}

.second {
    width: 100%;
    background: #29b078;
}

.second1 {
    width: 1225px;
    margin: 0 auto;
    text-align: right;
}

.second1 a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    color: white;
    width: 60px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

.second1 a:hover {
    border-bottom: 3px solid white;
}

.pick {
    display: none;
}

@media screen and (max-width: 1200px) {
    .second1 {
        display: none;
    }

    .pick {
        display: block;
    }

    .dropdown-menu {
        min-width: 0;
        background: #29b078;
    }

    .dropdown-toggle {
        background: #29b078 !important;
        text-align: right !important;
    }
}

.line {
    text-align: center;
    margin-top: 80px;
}

.line1 {
    text-align: left;
    padding-left: 40px;
    padding-top: 40px;
    border-left: 1px dashed lightgrey;
    margin-top: 80px;
}

.picture {
    width: 60px;
    height: 60px;
    margin: 20px auto;
}

.long {
    color: #999999;
    text-align: left;
}

.number {
    background: url("../img/iu.png") no-repeat 0 center;
    padding-left: 20px;
}

@media screen and (max-width: 1200px) {
    .long {
        text-align: center;
    }

    .line1 {
        display: flex;
        justify-content: center;
        border: none;
    }
}

.start {
    margin-top: 40px;
}

.learning1 {
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;

}

.learning {
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.learning3 {
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px lightgrey;
    padding-left: 17px;
    padding-top: 9px;
    color: #0ab077;
}

.eight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eight1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}

.eight1 .circle {
    margin-right: 30px;
}

@media screen and (max-width: 1200px) {
    .eight1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .eight1 .circle {
        margin: 0;
    }

    .eight1d {
        width: 30px;
    }
}

.ask {
    width: 60%;
    color: #999999;
}

@media screen and (max-width: 1200px) {
    .ask {
        width: 60%;
        color: lightgrey;
        text-align: center;
    }

}

.rate {
    margin-top: 40px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px lightgrey;
    padding: 20px 20px;
    margin-top: 20px;
}

.name {
    font-weight: bold;
    margin: 40px auto;
}

.circle2 {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: #29b078;
}

.circle1 {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px lightgrey;
}

.firm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firm img:hover {
    box-shadow: 1px 1px 1px lightgrey;
}

@media screen and (max-width: 1200px) {
    .firm {
        display: flex;
        flex-direction: column;
    }
}

.friendLink li {
    float: left;
    width: 10%;
    list-style-type: none;
    padding-bottom: 10px;
}

.friendLink li a {
    color: #999999;
    background: url("../img/blackcircle.png") no-repeat left 33%;
    padding-left: 10px;
    padding-bottom: 5px;
}

.friendLink li a:hover {
    text-decoration: none;
    border-bottom: 1px solid lawngreen;

}

@media screen and (max-width: 1200px) {
    .friendLink li {
        width: 100%;
        float: none;
        text-align: center;
    }

    .friendLink ul {
        padding: 0;
    }
}

.footer {
    width: 100%;
    background: #26a26f;
    margin-top: 20px;
}

.footer1 p {
    color: white;
    font-size: 16px;
}

.footer1 a {
    color: white;
    margin-right: 10px;
    padding-bottom: 5px;
}

.last {
    padding: 30px 0;
}

.your {
    padding-top: 28px;
}

.aime {
    width: 80px;
}

.weixin {
    padding-top: 25px;
}

.aime {
    margin-top: -3px;
}

.lastright {
    padding-left: 100px;
}

.footer1 a:hover {
    text-decoration: none;
    border-bottom: 1px solid white;
}

@media screen and (max-width: 1200px) {
    .lastright {
        padding-left: 0px;
    }

    .footer1 {
        padding-left: 35px;
    }
}

.tfoot {
    text-align: center;
    color: white;
    border-top: 1px solid #32c086;
    font-size: 12px;
    padding: 10px 0;
}

@media screen and (max-width: 1200px) {
    .tfoot {
        margin-top: 15px;
    }
}