
header {
    height: 40px;
    line-height: 40px;
}

.pull-right a {
    margin-left: 8px;
}

.pull-left {
    color: #79c7a3;
}
.link{
    display: none;
}
@media screen and (max-width: 1200px){
    .link{
        display: inline-block;
        width: 100%;
        text-align: right;
    }
    .link span{
        margin-left: 10px;
    }
    .hotline{
        display: none;
    }
    .type{
        display: none;
    }
}
.mynavbar {
    background: #79c7a3;
    line-height: 80px;
}

.mynavbar img {
    width: 80px;
}

.mynavbar span {
    margin-left: 10px;
    padding-bottom: 30px;
    color: white;
}

.mynavbar span:hover {
    border-bottom: 2px solid white;
}
.nav-pills{
    display: none;
}
@media screen and (max-width: 1200px){
    .nav-pills{
        display: inline-block;

    }
   .one{
       display: none;
       float: none;
   }
}
.picture img {
    width: 100%;
}
.page {
    margin: 30px auto;
}

.page span {
    color: #72c49e;
}

.left {
    outline: 1px solid lightgrey;
    box-shadow: 1px 1px 1px lightgrey;
    text-align: center;
    padding: 0;

}

.left ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 10px;
}
.company {
    margin-top: 20px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
}

.left li {
    margin-top: 20px;
}
.left a {
    color: #72c49e;
    text-decoration: none;
    background: url("../img/redcircle.png") no-repeat left center;
    padding-left: 12px;
}
.left a:hover {
    background: url("../img/redcircle1.png") no-repeat left center;
    color: red;
}
.right{
    outline: 1px solid lightgrey;
    box-shadow: 1px 1px 1px lightgrey;
    float: right;
    padding: 0;

    /*float: right;*/
    /*border: solid 1px red;*/
}
.content{
    text-indent: 2rem;
    color: lightgrey;
    padding: 20px 30px;
}
.firstparagraph{
    margin: 40px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}
.tudou {
    float: left;
    width:103px;
}
@media screen and (max-width: 1200px) {
    .left{

    }

}


.footer {
    margin-top: 60px;
    width: 100%;
    background: #26a26f;
}

.footer a {
    color: white;
}

.footer p {
    color: white;
    margin-top: 20px;
}

.mine {
    padding-top: 30px;
}

.last {
    padding-left: 180px;
}

.last img {
    width: 80px;
}
@media screen and (max-width: 1200px){
    .last{
        padding-left: 15px;
    }

}
.tf {
    margin-top: 10px;
    border-top: 1px solid #32c086;
    text-align: center;
    color: white;
}