@import "z";

.w100 {
  width: 100%;
}

@table_height: 50px;
.input_cellphone {
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 110px;
  //background-size: 40px 40px;
}

.button_footer {
  display: inline-block;
  width: 42%;
  height: 38px;
  border-radius: 6px;
  font-size: 1.5rem;
}

.button_header {
  display: inline-block;
  width: 65px;
  height: 30px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  margin-top: 6px;
}

.table_wh {
  width: 88%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid lightgrey;

}

.table_button {
  width: 71%;
  height: 130px;
  background: #69d1e9;
  font-size: 3.2rem;
  color: white;
  border: none;
}

.circle_bottom {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0ab077;
}

//任务十三四列样式
.list {
  display: flex;
  justify-content: space-between;
  .listitem {
    text-align: center;
    width: 23%;
  }
}

.smallcircle{
  padding-top: 13px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  //background: red;
  font-size: 1.8rem;
  color: #29b078;
  box-shadow: 1px 1px 1px lightgrey
}



//任务十三头部连
header {
  width: 100%;
  .contact {
    height: 40px;
    line-height: 40px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #29b078;
    .font-s(1.4rem);
    & a {
      padding-right: 10px;
    }
  }
  .phone {
    display: none;
  }

  @media screen and(max-width: 1200px) {
    .contact {
      width: 100%;
    }

    .contact div:first-child {
      margin-left: 10px;
    }

    .icons {
      display: none;
    }

    .phone {
      display: inline-block;
      margin-right: 20px;
    }
  }
}



//任务十三第二部分栏
.secondary {
  .w100;
  height: 100px;
  background: #29b078;
  line-height: 100px;
  .page{
    width: 1225px;
    margin: 0 auto;
    text-align: right;
    & a{
      .dib;
      height:99px;
      width: 85px;
      .font-s(1.6rem);
      color: white;
      .text-n();
      text-align: center;
      &:hover{
        border-bottom: 3px solid white;
      }
    }
  }
  .dropdown {
    display: none;
  }
  @media screen and(max-width: 1200px) {
    .page {
      //.w100;
      display: none;
    }

    .dropdown {
      display: inline-block;
      float: right;
      margin-right: 20px;
    }

    .dropdown-toggle {
      background: #29b078;
    }

    .dropdown-menu {
      min-width: 0;
      background: #29b078;
    }
  }
}


//任务十三底部栏
.footer {
  .w100;
  background: #29b078;
  border-bottom: 1px solid #32c086;
  .footeritem {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    //border-bottom: 1px solid #32c086;
    .leftside {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      .font-s(1.6rem);
      & a{
        color: white;
        .font-s(1.4rem);
        padding-right: 8px;
        text-decoration: none;
        padding-bottom: 5px;
        &:hover{
          border-bottom: 1px solid white;
        }
      }
    }
    .middle{
      margin-right: 30%;
      & a{
        //margin-right: 20px;
      }
    }
  };
  @media screen and (max-width: 1200px) {
    .footeritem {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 20px;
      .middle {
        margin-right: 0;
      }
    }
  }
}

