@charset "UTF-8";
@import "css3";
@import "reset";
@import "z";
@import "color";
@import "public";

body{
  background: @body_color;
}
header{
  color: @font_color_w;
  background: @theme_color;
  .w100;
  height: 12.5rem;
  line-height: 12.5rem;
  .tc;
  .font-s(2.4rem)
}
.shut{
  .fl;
  margin-left: 4%;
  .font-s(2.2rem)
}
.sign{
 .fr;
  margin-right: 4%;
  .font-s(2.2rem)
}
.content{
  margin-top: 1.5rem;
}
.content div{
  .db;
  .w100;
  height:10rem;
  .font-s(2.4rem);
  margin-bottom: 5px;
}
.phone{
  .input_cellphone;
  background:  white url("../img/iphone.png") no-repeat 2rem center;
}
.pwd{
 .input_cellphone;
  background:  white url("../img/locked-2.png") no-repeat 2rem center;
  margin-top: 1.5rem;
}

input::-webkit-input-placeholder{
  color: #e1e5e7;
}
.footer{
  margin-top: 6.5rem;
  .font-s(2.4rem);

}
.footer button{
  .w100;
  background: @theme_color;
  height: 9.5rem;
  border: none;
  color: @font_color_w;
  letter-spacing: 2rem;
  padding-left: 30px;
}
.footer a{
  .db;
  color:@theme_color;
   .tn;
  margin-top: 2rem;
  margin-right: 4%;
  .fr;
}
