@charset "UTF-8";
/*
    * Busy 收集 整理
 */
/*雅虎（YUI 3）reset*/
/*Normalize.css*/
.w100 {
  width: 100%;
}
.input_cellphone {
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 110px;
}
.button_footer {
  display: inline-block;
  width: 42%;
  height: 38px;
  border-radius: 6px;
  font-size: 34px;
}
.button_header {
  display: inline-block;
  width: 21%;
  height: 56%;
  font-size: 43px;
  margin-top: 45px;
  border-radius: 10px;
  border: none;
}
header {
  width: .w100;
  height: 125px;
  background-color: #5fc0cd;
  text-align: center;
  background-image: url("../img/icon-1.png");
}
.ower {
  display: inline-block;
  width: 21%;
  height: 56%;
  font-size: 43px;
  margin-top: 45px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: #55a8b3;
}
.nurse {
  display: inline-block;
  width: 21%;
  height: 56%;
  font-size: 43px;
  margin-top: 45px;
  border-radius: 10px;
  border: none;
  color: #5fc0cd;
  background: #eff0f4;
  margin-left: -55px;
}
