@charset "UTF-8";
@import "css3";
@import "reset";
@import "z";
@import "color";
@import "public";
header{
  width: .w100;
  height: 125px;
  background-color: @theme_color;
  .tc;
  background-image: url("../img/icon-1.png") ;
}
.ower{
  .button_header;
  color: @font_color_w;
  background: #55a8b3;
}
.nurse{
  .button_header;
  color: @theme_color;
  background: @body_color;
  margin-left: -55px;
}