@charset "UTF-8";
/*
    * Busy 收集 整理
 */
/*雅虎（YUI 3）reset*/
/*Normalize.css*/
.w100 {
  width: 100%;
}
.input_cellphone {
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 110px;
}
.button_footer {
  display: inline-block;
  width: 42%;
  height: 38px;
  border-radius: 6px;
  font-size: 1.5rem;
}
.button_header {
  display: inline-block;
  width: 65px;
  height: 30px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  margin-top: 6px;
}
.table_wh {
  width: 88%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid lightgrey;
}
.table_button {
  width: 71%;
  height: 130px;
  background: #69d1e9;
  font-size: 3.2rem;
  color: white;
  border: none;
}
.circle_bottom {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0ab077;
}
.list {
  display: flex;
  justify-content: space-between;
}
.list .listitem {
  text-align: center;
  width: 23%;
}
.smallcircle {
  padding-top: 13px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.8rem;
  color: #29b078;
  box-shadow: 1px 1px 1px lightgrey;
}
header {
  width: 100%;
}
header .contact {
  height: 40px;
  line-height: 40px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #29b078;
  font-size: 1.4rem;
}
header .contact a {
  padding-right: 10px;
}
header .phone {
  display: none;
}
@media screen and (max-width: 1200px) {
  header .contact {
    width: 100%;
  }
  header .contact div:first-child {
    margin-left: 10px;
  }
  header .icons {
    display: none;
  }
  header .phone {
    display: inline-block;
    margin-right: 20px;
  }
}
.secondary {
  width: 100%;
  height: 100px;
  background: #29b078;
  line-height: 100px;
}
.secondary .page {
  width: 1225px;
  margin: 0 auto;
  text-align: right;
}
.secondary .page a {
  display: inline-block;
  height: 99px;
  width: 85px;
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  text-align: center;
}
.secondary .page a:hover {
  border-bottom: 3px solid white;
}
.secondary .dropdown {
  display: none;
}
@media screen and (max-width: 1200px) {
  .secondary .page {
    display: none;
  }
  .secondary .dropdown {
    display: inline-block;
    float: right;
    margin-right: 20px;
  }
  .secondary .dropdown-toggle {
    background: #29b078;
  }
  .secondary .dropdown-menu {
    min-width: 0;
    background: #29b078;
  }
}
.footer {
  width: 100%;
  background: #29b078;
  border-bottom: 1px solid #32c086;
}
.footer .footeritem {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.footer .footeritem .leftside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: 1.6rem;
}
.footer .footeritem .leftside a {
  color: white;
  font-size: 1.4rem;
  padding-right: 8px;
  text-decoration: none;
  padding-bottom: 5px;
}
.footer .footeritem .leftside a:hover {
  border-bottom: 1px solid white;
}
.footer .footeritem .middle {
  margin-right: 30%;
}
@media screen and (max-width: 1200px) {
  .footer .footeritem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }
  .footer .footeritem .middle {
    margin-right: 0;
  }
}
html {
  font-size: 62.5%;
}
.maincontent {
  width: 1200px;
  margin: 0 auto;
}
.listitem img {
  width: 60px;
  height: 60px;
}
.list span {
  display: block;
  margin-bottom: 15px;
}
.two {
  font-size: 1.8rem;
  color: #333333;
  font-weight: bold;
}
.long {
  font-size: 1.6rem;
  color: #999999;
  text-align: left;
}
.number {
  font-size: 1.8rem;
  color: #29b078;
  padding-left: 15px;
}
.result {
  font-size: 1.8rem;
  color: #999999;
}
h3 {
  text-align: center;
  font-size: 1.8rem;
  color: #333333;
  margin: 110px auto 50px auto;
  font-weight: bold;
}
.lastlistitem {
  padding-top: 10px;
  padding-left: 40px;
  border-left: 1px dashed #dedede;
}
.listitem1 {
  display: flex;
  align-items: center;
}
.listitem1 span {
  display: inline-block;
}
.listitem1 img {
  width: 30px;
  height: 30px;
}
.describe {
  font-size: 1.4rem;
  color: #999999;
  text-align: left;
  width: 160px;
  margin-left: 25px;
  margin-right: 18px;
}
.listitem2 {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #eeeded;
}
.adviser {
  font-size: 1.8rem;
  color: #333333;
}
.function {
  font-size: 1.6rem;
  color: #999999;
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
}
.void {
  display: none;
}
@media screen and (max-width: 1200px) {
  .maincontent {
    width: 100%;
  }
  .void {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .listitem {
    width: 80% !important;
    margin-bottom: 20px;
  }
  .long {
    text-align: center;
  }
  .lastlistitem {
    padding-left: 0;
    border-left: none;
  }
  .listitem1 {
    display: flex;
    justify-content: space-between;
  }
}
.fourcircle {
  text-align: center;
  margin-top: 15px;
}
.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0ab077;
  background: #29b078;
}
.circle1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0ab077;
  background: #ffffff;
  border: 1px solid lightgrey;
}
.fivepicturre {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 1px 1px lightgrey;
}
.fivepicturre span:hover {
  box-shadow: 1px 1px 1px lightgrey;
}
.fireadship ul {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px 0;
  color: #999999;
  list-style-type: none;
}
.fireadship a {
  font-size: 1.4rem;
  color: #999999;
  text-decoration: none;
  background: url("../img/blackcircle.png") no-repeat left 32%;
  padding-left: 10px;
  padding-bottom: 5px;
}
.fireadship a:hover {
  border-bottom: 1px solid #29b078;
}
@media screen and (max-width: 1200px) {
  .fivepicturre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .fireadship ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.tfooter {
  background: #29b078;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  padding: 8px 0;
}
