@charset "UTF-8";
/*
    * Busy 收集 整理
 */
/*雅虎（YUI 3）reset*/
/*Normalize.css*/
.w100 {
  width: 100%;
}
.input_cellphone {
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 110px;
}
.button_footer {
  display: inline-block;
  width: 42%;
  height: 38px;
  border-radius: 6px;
  font-size: 1.5rem;
}
.button_header {
  display: inline-block;
  width: 65px;
  height: 30px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  margin-top: 6px;
}
.table_wh {
  width: 88%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid lightgrey;
}
.table_button {
  width: 71%;
  height: 130px;
  background: #69d1e9;
  font-size: 3.2rem;
  color: white;
  border: none;
}
.circle_bottom {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0ab077;
}
body {
  font-size: 62.5%;
}
header {
  width: 100%;
  height: 40px;
  background: #5fc0cd url("../img/icon-1.png") no-repeat 96% center;
  background-size: 20px 23px;
  text-align: center;
  position: fixed;
  top: 0;
}
.ower {
  display: inline-block;
  width: 65px;
  height: 30px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  margin-top: 6px;
  color: #fff;
  background: #55a8b3;
}
.nurse {
  display: inline-block;
  width: 65px;
  height: 30px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  margin-top: 6px;
  color: #5fc0cd;
  background: #eff0f4;
  margin-left: -8px;
}
.second {
  width: 100%;
  margin-top: 40px;
  border-bottom: 1px solid lightgrey;
  padding: 5px 0;
}
.dropdown {
  display: inline-block;
  width: 32%;
  border-right: 1px solid lightgrey;
}
.second .dropdown:last-child {
  border: none;
}
.btn {
  padding: 0;
}
.btn.dropdown-toggle {
  width: 100%;
  font-size: 1.2rem;
  height: 25px;
  background: white;
  color: #afafaf;
}
.btn .caret {
  float: right;
  margin-top: 5px;
  margin-right: 8px;
}
.dropdown-menu {
  width: 100%;
  text-align: center;
  min-width: 0;
}
.main ul {
  list-style-type: none;
  padding: 0;
}
.main ul li {
  height: 80px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0;
}
.date {
  font-size: 1.2rem;
  color: #afafaf;
  padding-left: 30px;
  background: url("../img/icon-4.jpg") no-repeat 10px center;
  background-size: 11px 10px;
}
.site {
  font-size: 1.2rem;
  color: #afafaf;
  padding-left: 30px;
  background: url("../img/icon-8.jpg") no-repeat 12px center;
  background-size: 10px 12px;
}
.time {
  font-size: 1.4rem;
}
.vage {
  font-size: 1.6rem;
  color: red;
  float: right;
  display: inline;
  margin-right: 4%;
  padding-right: 15px;
  background: url("../img/icon-3.jpg") no-repeat right center;
  background-size: 8px 16px;
}
.ask {
  padding-left: 30px;
}
footer {
  background: #f8fafb;
  height: 45px;
  margin-top: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.last {
  width: 56%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.page {
  display: block;
  margin-top: 5px;
}
.mine {
  display: block;
  margin-top: 5px;
}
.left img {
  width: 22px;
  height: 20px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle img {
  width: 40px;
  height: 40px;
}
.right img {
  width: 22px;
  height: 20px;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
